<div class="col-3 mt-4">
    <h6 class="mb-0">Trending</h6>
    <div class="trend mt-4">
        <p class="my-0">Trend 1</p>
    </div>
    <div class="trend">
        <p class="my-0">Trend 2</p>
    </div>
    <div class="trend">
        <p class="my-0">Trend 3</p>
    </div>
    <div class="trend">
        <p class="my-0">Trend 4</p>
    </div>
    <div class="trend">
        <p class="my-0">Trend 5</p>
    </div>
    <div class="trend">
        <p class="my-0">Trend 6</p>
    </div>
</div>